src/main/mule/objectstoredemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5e721f77-d3ad-4699-bc4a-0718853b055d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="setDisconunt" doc:id="9dd6a1bd-2dd1-4292-b53e-767e911527f0" >
		<http:listener doc:name="Listener" doc:id="0902095c-5f1e-4298-bcc9-9e17b138fc27" config-ref="HTTP_Listener_config" path="/discount/set"/>
		<os:store doc:name="Store" doc:id="155dd03f-4fd9-487e-b3af-2c4d4bee0141" key="discount">
			<os:value ><![CDATA[#[payload.discount]]]></os:value>
		</os:store>
	</flow>
	<flow name="getDiscountPrice" doc:id="97abbcc2-927e-439a-bbb3-83e185493034" >
		<http:listener doc:name="Listener" doc:id="57347f8c-b83d-4e9b-ac68-451ee0be61c8" config-ref="HTTP_Listener_config" path="/discountedprice"/>
		<os:retrieve doc:name="Retrieve" doc:id="7e0ad16d-ffad-4cbb-a706-436a261aada8" key="discount" target="disc">
			<os:default-value ><![CDATA[5]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="Transform Message" doc:id="d104ef1e-30d9-4328-89c4-b9c3fd274cb5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"discountedPrice" : attributes.queryParams.costprice as Number - (attributes.queryParams.costprice as Number * vars.disc as Number)/100
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
